<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thender</title>
    </head>

    <body>
        <h2>THENDER</h2>
        <h2>BIENVENIDO A THENDER </h2>
        <p> Donde las almas afines se encuentran.
            <br>Únete hoy y comienza tu historia dentro de la comunidad therian.

        </p>
        <h3>Inicia Sesion</h3>
        <p>Usuario </p>
        <p>Contraseña</p>

        <p><b>No tienes una cuenta?</b><a href="registrar.html">Crea una aqui</a></p>


       
    </body>


</html>